.container {
  padding: 2rem;
}

.logoDiv {
  width: 11%;
}

.logoDiv .logoHome {
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  text-transform: uppercase;
  color: #0c0b60;
  font-weight: 600;
}

.menuItem {
  cursor: pointer;
}

.menuItem:hover {
  border-bottom: 2px solid #c00202;
}

.homepage {
  padding: 45px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 4rem;
  align-items: center;
}

.fjkmNameSection {
  display: flex;
  align-items: center;
}

.fjkmLogo {
  height: 137px;
}

.titleFjkm {
  line-height: 0.5rem;
  text-align: center;
}

.textHome {
  font-style: italic;
}

.inputSaisie {
  display: flex;
  align-items: center;
  column-gap: 5rem;
}

.divBtnHameno {
  text-align: center;
  padding-top: 2rem;
}

.btnHameno {
  background-color: #0c0b60;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.btnHameno:hover {
  background-color: #c00202;
  border: 1px solid #c00202;
}
